@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define as cores base do site */
body {
  background-color: #000000;
  color: #ffffff;
}

/* Animação de carregamento */
@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}